<div class="container">
  <h1>Do You Love Me? 💖</h1>

  <div class="button-container">
    <button class="yes-btn" (click)="showLove()">Yes</button>
    <button id="noBtn" class="no-btn"
            *ngIf="showNoButton"
            (mouseenter)="moveNoButton($event)"
            (touchstart)="moveNoButton($event)"
            (click)="clickNoButton($event)">
      No
    </button>
  </div>

  <p *ngIf="showLoveMessage" class="message">{{ loveMessage }}</p>

  <div *ngIf="showPoem" id="poemContainer">
    <p *ngFor="let line of displayedLines" class="line">{{ line }}</p>
  </div>
</div>
