<div #container class="container">
  <!-- Show Before "Yes" Button GIF -->
  <img *ngIf="showInitialGif" src="assets/bubu-dudu-sseeyall (1).gif" alt="See you GIF" class="before-gif">

  <h1>Do You Love Me? 💖</h1>

  <div class="button-container">
    <button *ngIf="showYesButton" class="yes-btn" (click)="showLove()">Yes</button>
    <button id="noBtn" class="no-btn"
            *ngIf="showNoButton"
            (mouseenter)="moveNoButton($event)"
            (touchstart)="moveNoButton($event)"
            (click)="clickNoButton($event)">
      No
    </button>
  </div>

  <p *ngIf="showLoveMessage" class="message">{{ loveMessage }}</p>

  <!-- Show After "Yes" Button GIF in previous GIF's place -->
  <img *ngIf="showLoveGif" src="assets/love-bubu-dudu.gif" alt="Love GIF" class="love-gif">

  <div *ngIf="showPoem" id="poemContainer">
    <p *ngFor="let line of displayedLines" class="line">{{ line }}</p>
  </div>

  <!-- Memory Images (Displayed One by One) -->
  <div *ngIf="showMemories" class="memory-section">
    <img [src]="currentMemoryImage" class="memory-img">
  </div>
</div>
